<script>
function handle_files(files) {
  var file = files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
    // you need to send e.target.result in your $.ajax request
  }
  reader.readAsDataURL(file);
}
$.fn.editable.defaults.mode = 'inline';
</script>
<form action="api/users" method="post">
<input type="file" name="user[photo]" multiple onchange="handle_files(this.files)">
<label for="user_email">Email</label>
<a href="#" id="user_email" data-type="text" data-title="Email: " data-pk="<%=Coffeend.user.id%>" class="editable editable-click" style="display: inline;"><%=user.escape('email')%></a>
<label for="user_first_name">First Name</label>
<input
	type="text"
	id="user_first_name"
	name="user[first_name]" 
	value="<%= user.escape('first_name') %>"
>
<label for="user_last_name">Last Name</label>
<input
	type="text"
	id="user_last_name"
	name="user[last_name]"
	value="<%= user.escape('job') %>"
>
<label for="user_age">Age</label>
<input
	type="number"
	id="user_age"
	name="user[age]"
	value="<%= user.escape('age') %>"
>
<%userSex = user.escape('sex')%>
<label for="user_sex">Gender</label>
<select id="user_sex" name="user[sex]">
	<option <%=(userSex === "M") ? "selected" : null%> value="M">M</option>
	<option <%=(userSex === "W") ? "selected" : null%> value="M">W</option>
</select>
<textarea name=user[self_summary]><%= user.escape('self_summary') %></textarea>
<input type="submit" value="Update Profile">
</form>

<script type="text/javascript">
	$(document).ready(function() {
	console.log("editable running")
  $('.editable').editable({
  	success: function(resp){
  		Coffeend.user.set(resp)
  	}
  });
});

</script>



