<form action="api/users" method="post">
<label for="user_email">Email:</label>
<input
	type="text"
	id="user_email"
	name="user[email]" 
	value="<%= user.escape('email') %>"
>
<label for="user_first_name">First Name:</label>
<input
	type="text"
	id="user_first_name"
	name="user[first_name]" 
	value="<%= user.escape('first_name') %>"
>
<label for="user_last_name">Last Name:</label>
<input
	type="text"
	id="user_last_name"
	name="user[last_name]"
	value="<%= user.escape('job') %>"
>
<label for="user_age">Age:</label>
<input
	type="number"
	id="user_age"
	name="user[age]"
	value="<%= user.escape('age') %>"
>
<%userSex = user.escape('sex')%>
<label for="user_sex">Sex:</label>
<select id="user_sex" name="user[sex]">
	<option <%=(userSex === "M") ? "selected" : null%> value="M">M</option>
	<option <%=(userSex === "W") ? "selected" : null%> value="M">W</option>
</select>
<textarea name=user[self_summary]><%= user.escape('self_summary') %></textarea>
<input type="submit" value="Update Profile">
</form>



