<script>
function handle_files(files) {
  var file = files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
  	$.ajax({
  		url: "api/user",
  		type: "PUT",
  		data: {user: {photo: e.target.result}},
  		success: function(resp){
  			Coffeend.user.set(resp)
  		}

  	})
  }
  reader.readAsDataURL(file);
}
</script>
<input type="file" name="user[photo]" multiple onchange="handle_files(this.files)">
<label for="user_email">Email</label>
<a href="#" id="user_email" data-type="text" data-name="user[email]" class="editable editable-click" style="display: inline;">Email <%=user.escape('email')%></a>

<label for="user_first_data-name">First Name</label>
<a href="#" id="user_first_data-name" data-name="user[first_data-name]" data-type="text"class="editable editable-click" style="display: inline;"><%=user.escape('first_name')%></a>

<label for="user_last_data-name">Last Name</label>
<a href="#" id="user_last_data-name" data-name="user[last_data-name]" data-type="text" class="editable editable-click" style="display: inline;"><%=user.escape('last_name')%></a>

<label for="user_job">Job</label>
<a href="#" id="user_job" data-name="user[job]" data-type="text" class="editable editable-click" style="display: inline;"><%=user.escape('job')%></a>

<label for="user_age">Age</label>
<a href="#" id="user_age" data-name="user[age]" data-type="number" class="editable editable-click" style="display: inline;"><%=user.escape('age')%></a>

<label for="user_sex">Sex</label>
<a href="#" id="user_age" data-name="user[sex]" data-source="[{value: 1, text: 'Male'},{value: 2, text: 'Female'}]" data-type="select" class="editable editable-click" style="display: inline;"><%=user.escape('sex')%></a>

<label for="user_self_summary">Self Summary</label>
<a href="#" id="user_self_summary" data-name="user[self_summary]" data-type="textarea" class="editable editable-click" style="display: inline;"><%=user.escape('self_summary')%></a>