<div class="col-xs-10 col-xs-offset-1" style="margin-top: 10px;">
  <div class="row">
  <div class="col-xs-4">
    <img src="<%=user.escape('medium_photo')%>">
  </div>
  
  <div class="col-xs-6" style="margin-left: -150px;">

  <span class="cof-text" style="font-size: 32px;"><%=user.escape('first_name')%></span> 

  <span id="user_last_name" data-type="text" class="cof-text" style="font-size: 32px;"><%=user.escape('last_name')%></span>

  <br>
  <span class="cof-text"><%=user.escape('job')%></span>,
  <span class="cof-text"><%=user.escape('age')%></span>,
  <span class="cof-text"><%=user.escape('sex')%></span>
  <br>
  <span class="cof-text"><%=user.escape('email')%></span>
  <br>

  <span class="cof-text"><%=user.escape('self_summary')%></span>
    
  </div>  
  </div>
</div>
