<div style="margin-left: 30px" class="user-show">
  Email: <%= user.escape('email') %><br>
  First Name: <%= user.escape('first_name') %><br>
  Last Name: <%= user.escape('last_name') %><br>
  Job: <%= user.escape('job') %><br>
  Age: <%= user.escape('age') %><br>
  Sex: <%= user.escape('sex') %><br>
  Summary: <%= user.escape('self_summary') %><br>
</div>
<div>
<img src="<%=user.escape('medium_photo')%>">
</div>
