
<div class="row">
  <div class="col-xs-offset-1 col-xs-12 cof-hangout-show-bottom">
    <div class="col-xs-4">
      <div class="hangout-block cof-text">
        <h2 class="coffeend-heading"> When: </h2>
        <%var start = moment(hangout.get('start'));%>
        <%var end = moment(hangout.get('end'))%>
        <p style="margin-left: 20px" class="cof-text">
          <%= start.utc().format("dddd, MMM Do YYYY")%>
        </p>
        <p style="margin-left: 60px">
          <%= start.utc().format("h:mm a") %>
        </p>
        <p style="margin-left: 80px; margin-top: -10px; margin-bottom: 0px;">to</p>
        <p style="margin-left: 60px;"><%= end.utc().format("h:mm a")%></p>
      </div>
      <div class="hangout-block">
        <h2 class="coffeend-heading"> Where: </h2><span style="margin-left: 20px" class="cof-text"><%= hangout.escape('location_name') %>
      </div>
    </div>
    <div class="col-xs-3">
      <h2 class="coffeend-heading"> Who: </h2>
      <span style="margin-left: 20px" class="cof-text">
        <%hangout.get('attending_users').forEach(function(user){ %>
          <a style="padding: 1px;" href="<%= '#users/' + user.id%>"><img src=<%=Coffeend.users.get(user.id).escape('small_photo') %>></a>
     <% }) %>
      </span>
      <h2 class="coffeend-heading"> What: </h2><span style="margin-left: 20px" class="cof-text"><%=hangout.escape('description')%></span> 
    </div>
    <div class="col-xs-3">
    <% if (!going) { %>
      <button class="btn coffeend-btn" style="margin-left: -10px;" id="hangout_attend" data-id="<%= hangout.id %>">Go!</button>
    <% } else { %>
      <span class="cof-text" style="margin-top: 10px;">You've said you're coming.</span>
      <button class="btn coffeend-btn" style="margin-top: 10px;" id="hangout_unattend" data-id="<%= hangout.id %>">Backout...</button>
    <% } %>
    </div>	
  </div>
</div>
<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <form>
      <div class="form-group" style="margin-left: 10px">
        <textarea class="form-control" id="comment_body" name="comment[body]" placeholder="Say something..."></textarea>
        <input style="margin-top: 5px" type="submit" value="Post" class="btn coffeend-btn">
      </div>
    </form>
    <%comments = hangout.get('comments') %>
    <%comments.each(function(comment){ %>
      <%var id = comment.get('user_id') %>
        <div class="well" style="background-color:rgba(61, 35, 8, 0.5); border-style: none;">
        <span>
        <img style="margin-top: 5px;" src="<%=Coffeend.users.get(comment.get('user_id')).get('small_photo')%>">
        <p class="cof-text"><%=comment.get('body')%></p>
        </span>
        </div>
    <% }) %>
  </div>
</div>

