
<%
  var status;
  var color;
  var utcStart = moment(hangout.get('start')).utc();
  var start = moment(utcStart).zone(moment().zone()).add('minutes', moment().zone())
  var utcEnd = moment(hangout.get('end')).utc();
  var end = moment(utcEnd).zone(moment().zone()).add('minutes', moment().zone())
  var current_time = moment();
  var user = Coffeend.users.get(hangout.get('user_id'));

  

  if (current_time < end && current_time > start) {
    status = "Happening now";
    color = "orange";
  } else if (current_time > end || current_time > start) {
    status = "Over";
    color = "red";
  } else if (current_time < start) {
    status = "Hasn't started";
    color = 'green';
  } 
%>

<p class="start-time">
  <strong>When: </strong>
<%= start.format("dddd, h:mm a") %> - <%= end.format("h:mm a")%></p>
Check <a href="#/users/<%= user.id %>"> 
  <%= user.escape('first_name') %>
</a> out!
<%if (typeof user.get('small_photo') !== 'undefined') {%>
  <img src="<%=user.escape('small_photo')%>">
<% } %>
<strong><p style="color: <%= color %>"><%= status %></p></strong>
<% if (Coffeend.user.id === hangout.get('user_id')) { %>
  <button id="cancel" data-id="<%=hangout.id%>" class="btn btn-default">Cancel Event</button>
<% } %>

