<%
  var status;
  var color;
  var start = moment(hangout.get('start'));
  var end = moment(hangout.get('end'));
  var current_time = moment();
  var user = Coffeend.users.get(hangout.get('user_id'));
  

  if (current_time < end && current_time > start) {
    status = "Happening now";
    color = "orange";
  } else if (current_time > end || current_time > start) {
    status = "Over";
    color = "red";
  } else if (current_time < start) {
    status = "Hasn't started";
    color = 'green';
  } 
%>
<p class="start-time">
  <strong>When: </strong>
<%= start.utc().format("dddd, h:m a") %> - <%= end.utc().format("h:m a")%></p>
Check <a href="#/users/<%= user.id %>"> 
  <%= user.escape('first_name') %>
</a> out!
<%if (typeof user.get('small_photo') !== 'undefined') {%>
  <img src="<%=user.escape('small_photo')%>">
<% } %>
<strong><p style="color: <%= color %>"><%= status %></p></strong>
<% if (Coffeend.user.id === hangout.get('user_id')) { %>
  <button id="cancel" data-id="<%=hangout.id%>" class="btn btn-default">Cancel Event</button>
<% } %>

