<div class="row">
  <div class="col-xs-offset-1 col-xs-10 cof-hangout-show-bottom">
	<%hangouts.each(function(hangout){%>
		<%var user = Coffeend.users.get(hangout.get('user_id'))%>
		<p class="cof-text"><a class="cof-text" href="<%='#/hangouts/'+ hangout.id%>"><%=hangout.escape('location_name')%>, on <%=moment(hangout.get('start')).format("dddd, MMM Do YYYY, h:mm")%></a> with 
		<a class="cof-text" href="<%='#/users/' + user.id %>"><%=user.escape('first_name')%> <%=user.escape('last_name')%></a></p>
		<br>
	<%})%>
	</div>
</div>