<!DOCTYPE html>
<html>
<head>
  <title>Coffeend</title>
<link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyB1q3CH-oShYFvreoy4yyQb-RqzzRKpg8o&sensor=false&libraries=places"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="coffeend-background">
	<div class="container">

	<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Coffee Date</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="#">Home</a></li>
      <li><a href="#new">New</a></li>
      <li><a href="#coffeedates">Upcoming</a></li>
      <li><a href="#profile">Profile</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%=link_to("Logout", session_url, :method => :delete)%></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
		
<%[*flash[:errors]].each do |error|%>
	<%=error%>
<%end%>
	<%= yield %>
	</div>
</body>
</html>
