<!DOCTYPE html>
<html>
<head>
  <title>Coffeend</title>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Coffeend</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Link</a></li>
		      <li><%=link_to("Logout", session_url, :method => :delete)%></li>
		    </ul>
		  </div>
		</div>

		<%[*flash[:errors]].each do |error|%>
			<%=error%>
		<%end%>
	<%= yield %>
	</div>
</body>
</html>
